<div class = "container">
  <div class = "col-x-12 col-sm-8 sol-sm-offset-2">
    <table class="table">
      <thead>
        <tr>
           <th>Call Uuid</th>
           <th>Caller</th>
           <th>From Id</th>
           <th>Start Date</th>
           <th>Duration </th>
           <th> Voicemail? </th>
        </tr>
      </thead>
      <tbody>
        <% @calls.each do |call| %>
          <tr>
            <% %w(uuid caller_name caller_id start_time end_time duration).each do |prop| %>
              <th> <%= call.send(prop) %> </th>
            <% end %>
            <% if call.voice_mail %>
              <th> call.voice_mail.url </th>
            <% else %>
              <th> False</th>
            <% end %>
          </tr>
          <% end %>
      </tbody>
    </table>

  </div>

</div>
